---
layout: default
title: Welcome
banner: banner-mountains.jpg
---

    <div id="content-top" class="region region-content_top">
      <div id="block-block-7" class="block block-block region-odd even region-count-1 count-6">
        <div class="block-inner">
          <div class="content">
            <a href="laserfiche-suite">
              <h2>Laserfiche Scanning Solution</h2>
              <p>Never lose a document or picture again</p>
            </a>
          </div>
        </div>
      </div>
      <div id="block-block-8" class="block block-block region-even odd region-count-2 count-7">
        <div class="block-inner">
          <div class="content">
            <a href="/multi-function-products">
              <h2>Office Equipment Products</h2>
              <p>Everything you need to run your business</p>
            </a>
          </div>
        </div>
      </div>
      <div id="block-block-9" class="block block-block region-odd even region-count-3 count-8">
        <div class="block-inner">
          <div class="content">
            <a href="products">
              <h2>Ink &amp; Toner Printing Cartridges</h2>
              <p>We have what you need at the best prices</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="content-area">
      {% if paginator.page == 1 %}
      {% assign devotional = site.devotional | last %}
      <div class="node node-teaser node-type-story">
        <div class="node-inner">
          <h2 class="title">
            <a href="{{ devotional.url }}" title="{{ devotional.title }}">{{ devotional.title }}</a>
          </h2>
          <div class="content">
            <p>{{ devotional.excerpt }}</p>
          </div>
        </div>
      </div>
      {% endif %}
      {% for post in paginator.posts %}
      <div class="node node-teaser node-type-story">
        <div class="node-inner">
          <h2 class="title">
            <a href="{{ post.id }}" title="{{ post.title }}">{{ post.title }}</a>
          </h2>
          <div class="content">
            <div class="fb-social-like-widget">
              <fb:like href="{{ post.permalink }}" send="false" layout="standard" show_faces="true" width="350" action="like" font="arial" colorscheme="light"></fb:like>
            </div>
            <p>{{ post.excerpt }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="item-list">
            {% if paginator.page != 1 %}
            <a href="/" title="Go to first page">&laquo; first</a>
            <a href="{{ paginator.previous_page_path }}" title="Go to previous page">&lsaquo; previous</a>
            {% endif %}
          Page {{ paginator.page }} of {{ paginator.total_pages }}
            {% if paginator.page != paginator.total_pages %}
            <a href="{{ paginator.next_page_path }}" title="Go to next page">next &rsaquo;</a>
            <a href="/page{{ paginator.total_pages }}" title="Go to last page">last &raquo;</a>
            {% endif %}
        </ul>
      </div>
    </div>
