<div id="header">
  <div id="header-inner" class="clear-block">
    <div id="logo-title">
      <div id="logo">
        <a href="/" title="Home" rel="home"><img src="/images/logo.png" alt="Home" id="logo-image" /></a>
      </div>
      <div id="block-views-header_fade-block_1" class="block block-views region-odd odd region-count-1 count-9">
        <div class="block-inner">
          <div class="content">
            <div class="view view-header-fade view-id-header_fade view-display-id-block_1 view-dom-id-1">
              <div class="view-content">
                <ul id="header-fade">
                  <li><a rel="home" title="Home" href="/">Connectivity Business Systems</a></li>
                  <li><a rel="home" title="Home" href="/">Your One Stop Shop</a></li>
                  <li><a rel="home" title="Home" href="/">We got your back(ups) covered</a></li>
                  <li><a rel="home" title="Home" href="/">&quot;I buy all my cartridges from CBS.&quot;  - Sandi Scott, Allstate Insurance</a></li>
                  <li><a rel="home" title="Home" href="/">Scanning so easy a caveman could do it!</a></li>
                  <li><a rel="home" title="Home" href="/">&quot;Set up my server, great deal on my copiers and inexpensive cartridges.&quot; - Bob Heinmiller A/C, Inc.</a></li>
                  <li><a rel="home" title="Home" href="/">Follow us on Twitter.com/dalecbs</a></li>
                  <li><a rel="home" title="Home" href="/">Virus? We&#039;ll make that sucker TAPOUT!</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="header-blocks" class="region region-header">
      <div id="block-block-1" class="block block-block region-odd even region-count-1 count-6">
        <div class="block-inner">
          <div class="content">
            <a href="/rss.xml"><img src="{{ "/images/rss.png" | prepend: site.baseurl }}" /></a>
            <a href="http://www.twitter.com/dalecbs"><img src="{{ "/images/twitter.png" | prepend: site.baseurl }}" /></a>
          </div>
        </div>
      </div>
      <div id="block-block-31" class="block block-block region-odd even region-count-3 count-8">
        <div class="block-inner">
          <div class="content">
            <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
            <fb:like href="http://www.facebook.com/pages/Connectivity-Business-Systems/122662311125850" show_faces="false" width="200"></fb:like>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
