<div id="navbar">
  <a name="navigation" id="navigation"></a>
  <div id="block-menu-primary-links">
    <ul class="menu">
      {% assign current = page.url | downcase | split: '/' %}
      <li class="expanded"><a href="/multi-function-products" title="Multi-Function Products" {% if current[1]=='multi-function-products' %}class='active' {% endif %}>Multi-Function Products</a>
        <ul>
          <li><a href="/multi-function-products/color" title="Color" {% if current[2]=='multi-function-products' %}class='active' {% endif %}>Color</a></li>
          <li><a href="/multi-function-products/blackandwhite" title="Black and White" {% if current[2]=='blackandwhite' %}class='active' {% endif %}>Black &amp; White</a></li>
          <li><a href="/multi-function-products/production" title="Production" {% if current[2]=='production' %}class='active' {% endif %}>Production</a></li>
          <li><a href="/multi-function-products/consumer" title="Consumer" {% if current[2]=='consumer' %}class='active' {% endif %}>Consumer</a></li>
        </ul>
      </li>
      <li><a href="/laserfiche-suite" title="Laserfiche Suite" {% if current[1]=='laserfiche-suite' %}class='active' {% endif %}>Laserfiche Suite</a></li>
      <li><a href="/iscan-offsite" title="Laserfiche Hosting" {% if current[1]=='iscan-offsite' %}class='active' {% endif %}>iScan-Offsite</a></li>
      <li class="expanded"><a href="/managed-services" title="Managed Services" {% if current[1]=='managed-services' %}class='active' {% endif %}>Managed Services</a>
        <ul>
          <li><a href="/managed-services/backups" title="Backups" {% if current[2]=='backups' %}class='active' {% endif %}>Backups</a></li>
          <li><a href="/managed-services/desktops" title="Desktops" {% if current[2]=='desktops' %}class='active' {% endif %}>Desktops</a></li>
          <li><a href="/managed-services/printers" title="Printers" {% if current[2]=='printers' %}class='active' {% endif %}>Printers</a></li>
          <li><a href="/managed-services/servers" title="Servers" {% if current[12=='servers' %}class='active' {% endif %}>Servers</a></li>
        </ul>
      </li>
      <li><a href="/ink_toner/all" title="Ink and Toner" {% if current[1]=='ink_toner' %}class='active' {% endif %}>Ink &amp; Toner</a></li>
      <li><a href="/meet-the-team" title="Meet the Team" {% if current[1]=='meet-the-team' %}class='active' {% endif %}>Meet the Team</a></li>
    </ul>
  </div>
</div>
